body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins";
}

.bg-cover {
  background-image: url("./images/bg.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 100%; */
}
